.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    margin: auto;
    margin-top: 3rem;
}

.Navbar h1 {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    background-clip: text;
    color: transparent;
}

.Navbar img {
    height: 50px;
    width: 50px;
    animation: logo-spin 5s infinite linear;
    /* filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg); */
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}